body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Merriweather', serif;
    font-size: 4em;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgb(7, 211, 248), rgb(235, 20, 101)) repeat scroll 0% 0%;
}

h1 {
    font-size: 3rem;

    text-shadow: 2px 2px #63ffc6;
    
}

h2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button {
    background-color: #63ffc6;
    border: none;
    color: black;
    width: auto;
    height: auto;
}

.button:hover {
    background-color: #30ffb3;
    color: black;
}